<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in
            eros eget ex auctor tristique. Sed vehicula justo vel nibh vehicula,
            at dapibus purus laoreet. Sed et libero aliquet, accumsan erat a,
            faucibus ante. Nullam et laoreet elit. Proin posuere, enim ut
            vestibulum fringilla, ligula tellus tincidunt erat, id condimentum
            magna sapien in nibh. In hac habitasse platea dictumst. Nulla
            pretium nulla turpis, eget scelerisque arcu aliquet a.
        </p>
        <p>
            <a href="#" class="btn btn-success btn-lg" role="button">
                My Profile
            </a>
            <a href="#" class="btn btn-primary btn-lg" role="button">
                Timeline
            </a>
            <a href="#" class="btn btn-default btn-lg" role="button">
                People
            </a>
        </p>
    </div>
</div>
